[user]
	name = Stefan Dillenburg
	email = stefan.dillenburg@fit.fraunhofer.de
[alias]
    st = status
    co = checkout
    br = branch
    cm = commit -v
    ca = commit -av
    aa = add .
    lg = log --graph --oneline --decorate
    lgs = log --graph --oneline --stat --decorate
    mg = merge --no-ff
    undo = reset --hard
[core]
    ui = true
    editor = vim
[init]
    defaultBranch = main
[pull]
    rebase = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
